### Exercise 1: Create a Jupyter Notebook

### Exercise 2: Create markdown cell with title of the notebook

# H1: Data Science and Ecosystem

### Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

### Exercise 10 - Insert a markdown cell to list Objectives

### Objectives:
- List popular languages for Data Science.
- List popular libraries for Data Science.
- List tools used for Data Science.
- Learn Arithmentic expression.
- Create table using markdown cell.
- Convert minutes into hours.

### Exercise 4 - Create a markdown cell to list data science languages

### Some of the popular languages that Data Scientists use are:
    1. Python
    2. Ruby
    3. Scala
    4. Go

### Exercise 5 - Create a markdown cell to list data science libraries

### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. seaborn

### Exercise 6 - Create a markdown cell with a table of Data Science tools

### Table
| Data Science Tools |
|--------------------|
|Jupyter Notebook |
| Jupyterlite |
| Watson Studio |
| Tensorflow |

### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
a = 10 + 20
b = 10 * 20
c = 1000/10
d = 100 - 75
print(a)
print(b)
print(c)
print(d)

30
200
100.0
25

### Exercise 8 - Create a code cell to multiply and add numbers

In [7]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

### Exercise 9 - Create a code cell to convert minutes to hours

In [8]:
#This will convert 200 minutes to hours by diving by 60.
hours = 200/60
hours

3.3333333333333335

### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Jyoti Rajendra Sabane